#announcement
  %p
  #mark_as_read
    /%a#mark_as_read_x{:href => "#", :onclick => "return false;", :title => "Piilota tiedote"} piilota
#header
  #logo_png.sprites
  #subheader_wrapper
    %h1
      %a{:href => "http://www.lounasaika.net/"}
        lounasaika.net
    %span#slogan
      %span#day= I18n.t(:todays)
      = I18n.t(:campus_menus)
  .header_inside
    = link_to I18n.t(:feedback), "javascript:UserVoice.showPopupWidget();", { :title => I18n.t(:feedback_title), :onClick => "recordOutboundLink(this, 'Outbound Links', 'Feedback'); return false;" }
    |
    /= link_to I18n.t(:mobile), "api", :title => I18n.t(:mobile_title)
    /|
    = link_to "Facebook", "http://www.facebook.com/lounasaika", { :title => I18n.t(:facebook_title), :onClick => "recordOutboundLink(this, 'Outbound Links', 'Facebook'); return false;" }
    |
    = link_to "Github", "http://github.com/paav-o/lounasaika", { :title => I18n.t(:github_title), :onClick => "recordOutboundLink(this, 'Outbound Links', 'Github'); return false;" }
    |
    = link_to "API", "/api.html", { :title => I18n.t(:api_title), :onClick => "recordOutboundLink(this, 'Outbound Links', 'api.html'); return false;" }
    |
    = link_to I18n.t(:other_language_long), I18n.t(:other_language_path), :title => I18n.t(:other_language_long)
#weekdays.nav
#campi.nav

%ul#restaurants
  %li{"data-template" => "data-template", :style => "display: none"}
    %h2
      %a{:href => "{{url_by_lang}}"}
        {{name}}
    .open
      {{status}}
      %a.tooltip{:href => "#", :onclick => "return false;", :rel => "<dl><dt>{{name}} ({{campus}})</dt><dd>{{address}}</dd><br/>{{openingTimesDefList}}</dl><img src='http://maps.google.com/maps/api/staticmap?center={{address}}&zoom=14&size=250x200&maptype=roadmap&markers=color:green|{{address}}&sensor=false'>"} [info]
    %ul.meals
      %li{"data-template" => "mealsToday"}
        {{.}}

:javascript
  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18527581-1']);
  _gaq.push(['_setDomainName', 'lounasaika.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

:javascript
  function recordOutboundLink(link, category, action) {
    try {
      var myTracker=_gat._getTrackerByName();
      _gaq.push(['myTracker._trackEvent', category , action ]);
      setTimeout('document.location = "' + link.href + '"', 100)
    }
    catch(err){}
  }

:coffeescript
  # UserVoice
  uvOptions = {}
  (->
    uv = document.createElement("script")
    uv.type = "text/javascript"
    uv.async = true
    uv.src = ((if "https:" is document.location.protocol then "https://" else "http://")) + "widget.uservoice.com/FEMzHDX0yGHbPzCU1rZpAA.js"
    s = document.getElementsByTagName("script")[0]
    s.parentNode.insertBefore uv, s
  )()